:root {
    --lgtblue: #367f9d;
    --primary: #158dbd;
    --drkblue: #092936;    
    --light: #f5ebe6;
    --orange: #fd620f;
}

body{
    background-color: #367f9d;
    font-family: 'Robato', sans-serif;
    display:flex;
    justify-content: center;
}

.wrapper{
    display: grid;
    background: #092936;
    color:#f5ebe6;
    height: 600px;    
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-right-color: #fd620f;
    border-left-color: #fd620f;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    color: #f5ebe6;
}

.input{
    display:flex;    
    flex-direction: column;     
    align-items: center;
}

.input-box {
    max-width: 100px;
    border-style: solid;
    border-width: 1px;    
}

.btns{   
    display: flex; 
    flex-direction: column;
    align-items: center;
    
}

.btn1{
    background: var(--orange);
    color: var(--drkblue);
    padding: .4em;
    cursor: pointer;
    border: none;
    margin: .5rem;
    border-radius: 20px;
    width: 125px;
}

.btn2{
    background: var(--orange);
    color: var(--drkblue);
    padding: .4em 1.3em;
    cursor: pointer;
    border: none;    
    margin: .5rem;
    border-radius: 20px;
    width: 125px;
}

.btn3{
    background: var(--orange);
    color: var(--drkblue);
    padding: .4em 1.3em;
    cursor: pointer;
    border: none;    
    margin: .5rem;
    border-radius: 20px;
    width: 125px;
}

.btn4{
    background: var(--orange);
    color: var(--drkblue);
    padding: .4em 1.3em;
    cursor: pointer;
    border: none;    
    margin: .5rem;
    border-radius: 20px;
    width: 125px;
}

.btn5{
    background: var(--orange);
    color: var(--drkblue);
    padding: .4em 1.3em;
    cursor: pointer;    
    border: none;
    margin: .5rem;
    border-radius: 20px;
    width: 125px;
}

#calTip{
    display: flex;
    align-items: center;
    justify-content: center;
}

#total{
    display: flex;
    align-items: center;
    justify-content: center;
}