:root {
    --lgtblue: #367f9d;
    --primary: #158dbd;
    --drkblue: #092936;    
    --light: #f5ebe6;
    --orange: #fd620f;
    --shadow: 0 2px 10px rgba(104, 104, 104, 1.8);
}

* {
    margin:1 em;
    border:0;
    padding:0;
}

body{
     font-family: 'Robato', sans-serif;
}

.wrapper{
    background: #092936;
    color: #f5ebe6;
    height: 400px;
    border-style: solid;
    border-width: 3px;
    border-right-color: #fd620f;
    border-left-color: #fd620f;
    border-radius: 20px;
}
h1 {
    text-align: center;
}

.labels{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    grid-gap: 1em;
    margin-top: 3rem;
    align-items: center;
}

.input-box1 {
    max-width: 100px;
    border-style: solid;
    border-width: 1px;    
}

.lab-box1 {
    text-align: end;
}
.input-box2 {
    max-width: 100px;
    border-style: solid;
    border-width: 1px;    
}

.lab-box2 {
    text-align: end;
}

.btn{
    background: var(--orange);
    color: var(--drkblue);    
    color: #333333;
    padding: .4em 1.3em;
    cursor: pointer;
    outline:none;
    border: none;
    margin: 1rem;
    border-radius: 20px;
    width: 200px;
}
.btn-cont{
    display: flex;
    justify-content: center;
}

.result-box{
    display: flex;
    justify-content: center;
    color:#092936;
}

p{
    border-style: solid;
    border-width: 1px;
    padding: .5em;
    width: 150px;
    text-align: center;
    background-color: white;
}